<header class="site-header">

  <nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#" class="brand-logo">{{ site.title }}</a>
    </div>
  </nav>

  <!--
  <div class="nav-wrapper">

    <a href="#menu"></a>
    <a class="site-title right" href="{{ site.baseurl }}/">{{ site.title }}</a>
    

    <nav id="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About us</a>
            <ul>
              <li><a href="#about/history">History</a></li>
              <li><a href="#about/team">The team</a>
                <ul>
                  <li><a href="#about/team/management">Management</a></li>
                  <li><a href="#about/team/sales">Sales</a></li>
                  <li><a href="#about/team/development">Development</a></li>
                </ul>
              </li>
              <li><a href="#about/address">Our address</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <!--
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      -->
    </nav>

  </div>

</header>
