<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      <div >
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  <script type="text/javascript">
    $(".button-collapse").sideNav({
      menuWidth: 300,
    });
    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
  </script>
  </body>

</html>
